#insta_logo {
  background-color: #ffffff;
  color: #d93025;
  border-radius: 0.3rem;
  font-size: 1.5rem;
}
#linkedin_logo {
  background-color: white;
  color: blue;
  font-size: 1.5rem;
}
#github_logo {
  background-color: #ffffff;
  color: black;
  font-size: 1.5rem;
  border-radius: 0.3rem;
}
